.path-contact { background-color: #ec5157;
    .contact-box {
        background: #fff;
        width: 94%;
        margin-top: 66px;
        margin-bottom: 12px; }
        @media (min-width: 768px) {
          .contact-box {
            max-width: 620px;
            margin-top: 104px;
            margin-bottom: 0px; } }
        @media (min-width: 1280px) {
          .contact-box {
            margin-top: 88px; } }
        .contact-box .c-contact {
          padding: 32px 24px; }
          @media (min-width: 768px) {
            .contact-box .c-contact {
              padding: 48px 64px; } }
          .contact-box .c-contact .tt {
            width: 100%;
            color: #ef4f53;
            padding-bottom: 20px; }
          .contact-box .c-contact .info {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: rgba(68, 68, 68, 0.4);
            padding-bottom: 8px; }
          .contact-box .c-contact .error-message {
            display: none;
            width: 100%;
            color: #ef4f53;
            padding: 20px;
            background: #E1E8EE;
            margin-top: 16px;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px; }
          .contact-box .c-contact .form-group {
            position: relative; }
          .contact-box .c-contact .label {
            font-weight: 700;
            padding: 24px 0 8px; }
          .contact-box .c-contact .form-control {
            outline-width: 0;
            border: solid 2px #b0bec5;
            font-size: .8em;
            padding: 8px;
            width: 100%;
            border-radius: 2px;
            font-size: 16px;
            line-height: 28px; }
          .contact-box .c-contact .error {
            border: solid 2px #ef4f53; }
          .contact-box .c-contact .cross {
            position: absolute;
            top: 70%;
            right: -20px;
            background-color: #ef4f53;
            border-radius: 50%;
            // background-image: url(https://wayfinder-ux.com/img/contact/close.svg);
            background-image: url(../creative/close.svg);
            width: 16px;
            height: 16px;
            background-size: 50%;
            padding: 4px;
            background-repeat: no-repeat;
            background-position: 50% 50%; }
            @media (min-width: 768px) {
              .contact-box .c-contact .cross {
                top: 67%;
                right: -44px;
                width: 26px;
                height: 26px; } }
          .contact-box .c-contact .check {
            position: absolute;
            top: 70%;
            right: -20px;
            background-color: #4ba8f4;
            border-radius: 50%;
            // background-image: url(https://wayfinder-ux.com/img/contact/checkMark.svg);
            background-image: url(../creative/check-mark.svg);
            width: 16px;
            height: 16px;
            background-size: 50%;
            padding: 4px;
            background-repeat: no-repeat;
            background-position: 50% 50%; }
            @media (min-width: 768px) {
              .contact-box .c-contact .check {
                top: 67%;
                right: -44px;
                width: 26px;
                height: 26px; } }
          .contact-box .c-contact .toggle-buttons {
            display: flex;
            flex-wrap: wrap; }
            .contact-box .c-contact .toggle-buttons .btn-toggle {
              width: fit-content;
              font-size: 14px;
              font-weight: 700;
              padding: 12px;
              background-color: #f1f1ef;
              color: rgba(68, 68, 68, 0.5);
              border: none;
              margin-right: 16px;
              margin-left: 0;
              border-radius: 3px;
              cursor: pointer; }
            @media (min-width: 768px) {
              .contact-box .c-contact .toggle-buttons .btn-toggle {
                margin-right: 4px; } }
            .contact-box .c-contact .toggle-buttons .lg-mb-0 {
              margin-bottom: 16px; }
              @media (min-width: 768px) {
                .contact-box .c-contact .toggle-buttons .lg-mb-0 {
                  margin-bottom: 0px; } }
            .contact-box .c-contact .toggle-buttons .selected {
              background-color: #4ba8f4;
              color: #fff; }
          .contact-box .c-contact textarea {
            outline-width: 0;
            border: solid 2px #b0bec5;
            font-size: .8em;
            padding: 8px; }
          .contact-box .c-contact .submit {
            display: flex;
            justify-content: flex-end;
            padding-top: 24px; }
            .contact-box .c-contact .submit .submit-btn {
              width: fit-content;
            //   background-image: url(../img/contact/arrow.png);
              background-image: url(../creative/arrow.png);
              background-repeat: no-repeat;
              background-position: 76% 49%;
              background-size: 16px;
              background-color: #fff;
              font-size: 16px;
              color: #FF3C49;
              padding: 12px 44px 12px 24px;
              font-weight: 700;
              border: 3px solid rgb(235, 81, 87);
              cursor: pointer;
              border-radius: 32px; }
        .contact-box .c-confirmation {
          padding: 32px 24px;
          display: none; }
          @media (min-width: 768px) {
            .contact-box .c-confirmation {
              padding: 48px 64px; } }
          .contact-box .c-confirmation .tt {
            width: 100%;
            color: #ef4f53;
            padding-bottom: 20px; }
          .contact-box .c-confirmation .info {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: rgba(68, 68, 68, 0.4);
            padding-bottom: 8px; }
          .contact-box .c-confirmation hr {
            margin: 40px 0; }
          .contact-box .c-confirmation p {
            font-size: 16px;
            line-height: 24px; }
          .contact-box .c-confirmation .airplane {
            width: 32px;
            margin: 7px 0 0 8px; }
          .contact-box .c-confirmation .chinmoy-sig {
            width: 86px;
            padding: 32px 0 20px; }
          .contact-box .c-confirmation .fw-700 {
            font-weight: 700; }
    header .mobile-nav .nav-bar { background-color: #ec5157; 
        @include respond-to(tablet) { background-color: transparent; }
    }
    .social-icons {
        .linkedin { background: url(../creative/social/linkedin-white.svg) no-repeat; background-size: cover; width: 11px; height: 11px; }
        .instagram { background: url(../creative/social/instagram-white.svg) no-repeat; background-size: cover; width: 11px; height: 11px; }
        .dribbble { background: url(../creative/social/dribbble-white.svg) no-repeat; background-size: contain; width: 12px; height: 12px; }
    }
    .copyright { background: url(../creative/social/copyright-white.svg) no-repeat; background-size: contain; }
}