@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: Replica-Bold;
    src: url(../creative/webfonts/lineto-replica-bold.eot);
    src: url(../creative/webfonts/lineto-replica-bold.eot?#iefix) format("embedded-opentype"), url(../creative/webfonts/lineto-replica-bold.woff2) format("woff2"), url(../creative/webfonts/lineto-replica-bold.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
  
.ff-replica {
    font-family: Replica-Bold;
}