.grid-line { position: fixed; background: #000; width: 1px; height: 100%; top: 0px; opacity: .06; -webkit-user-select: none; -ms-user-select: none; user-select: none; z-index: 99999; }
.wf-grid-left-out { display: none;
    @include respond-to(tablet) { }
    @include respond-to(desktop-1280) { display: block; top: 0px; left: 50%; margin-left: -620px; }
    @include respond-to(desktop-1366) { margin-left: -700px; }
    @include respond-to(desktop-1536) { margin-left: -940px; }
}
.wf-grid-left-mid { top: 0px;  left: 0px; margin-left: 10px;
    @include respond-to(tablet) { left: 0px; margin-left: 15px; }
    @include respond-to(desktop-1280) { left: 50%; margin-left: -304px; }
    @include respond-to(desktop-1366) { margin-left: -344px; }
    @include respond-to(desktop-1536) { margin-left: -464px; }
}
.wf-grid-center { top: 0px;  left: 50%; margin-left: -.5px; }
.wf-grid-right-mid { top: 0px;  right: 0px; margin-right: 10px;
    @include respond-to(tablet) { right: 0px; margin-right: 15px; }
    @include respond-to(desktop-1280) { right: 50%; margin-right: -304px; }
    @include respond-to(desktop-1366) { margin-right: -344px; }
    @include respond-to(desktop-1536) { margin-right: -464px; }
}
.wf-grid-right-out { display: none;
    @include respond-to(tablet) { }
    @include respond-to(desktop-1280) { display: block; top: 0px; right: 50%; margin-right: -620px; }
    @include respond-to(desktop-1366) { margin-right: -700px; }
    @include respond-to(desktop-1536) { margin-right: -940px; }
}