@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .img-ratio {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "desktop-1920" {
    @media (min-width: 1920px) {
      @content;
    }
  }
  @else if $breakpoint == "desktop-1536" {
    @media (min-width: 1536px) {
      @content;
    }
  }
  @else if $breakpoint == "desktop-1366" {
    @media (min-width: 1366px) {
      @content;
    }
  }
  @else if $breakpoint == "desktop-1280" {
    @media (min-width: 1280px) {
      @content;
    }
  }
  @else if $breakpoint == "desktop-1024" {
    @media (min-width: 1024px) {
      @content;
    }
  }
  @else if $breakpoint == "tablet" {
    @media (min-width: 768px) {
      @content;
    }
  }
  @else if $breakpoint == "mobile" {
    @media (min-width: 376px) {
      @content;
    }
  }
}