header { position: fixed; width: 100%; z-index: 999999;
    .desktop-nav { display: none; justify-content: space-between; align-items: center; font-size: 18px; background: rgba(#fff,0);
        @include respond-to(tablet) { position: relative; display: flex; flex-direction: row; width: 100%; padding: 40px 32px; }
        @include respond-to(desktop-1024) { padding: 40px; }
        .logo { position: relative; width: 246px; height: 36px; cursor: pointer; }
        .primary-navigation {
            ul { display: flex; flex-direction: row; margin: 0; padding: 0; list-style: none; font-weight: 500;
                li { line-height: 34px; margin: 0 0 0 40px; border-bottom: 3px solid transparent; cursor: pointer; color: #fff;
                    &.active { border-bottom: 3px solid; }
                    a { display: inline-block; color: inherit;
                        &:link, &:visited, &:active { color: inherit; }
                        &:hover { color: inherit; }
                    }
                    &:hover { border-bottom: 3px solid; }
                }
            }
        }
    }
    .mobile-nav { display: flex; flex-direction: column; position: relative; width: 100%;
        @include respond-to(tablet) { display: none; }
        .nav-bar { display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%; height: 68px; padding: 20px;
            .logo { position: relative; width: 123px; height: 14px; cursor: pointer; }
            .menu { display: flex; flex-direction: column; justify-content: space-between; position: relative; width: 22px; height: 14px; cursor: pointer;
                .line { width: 22px; height: 2px; background: #fff; }
            }
        }
        .nav-menu { display: none; position: relative; width: 100%; height: 100vh;
            @include respond-to(tablet) { padding: 0 20px; }
            .primary-navigation { display: flex; justify-content: center; align-items: center; height: 88%;
                ul { display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin: 0; padding: 16px 0 16px; list-style: none; font-family: "Replica-Bold", sans-serif; color: #fff; height: 88%;
                    li { display: flex; justify-content: center; align-items: center; text-align: center; width: 100%; font-size: 52px; padding: 16px 20px; 
                        &.active { 
                            a { border-bottom: 4px solid #fff; 
                                &:link, &:visited, &:active { color: #fff; }
                            }
                        }
                        a { color: inherit;
                            &:link, &:visited, &:active { color: inherit; }
                            &:hover { color: inherit; }
                        }
                    }
                }
            }
        }
    }
}

.social-icons { display: none; flex-direction: row; position: fixed; bottom: 0; left: 0; padding: 16px 32px; opacity: .8; z-index: 99999;
    @include respond-to(tablet) { display: flex; }
    @include respond-to(desktop-1024) { display: flex; padding: 16px 40px; }
    .icon { margin-right: 20px }
    .linkedin { position: relative; background: url(../creative/social/linkedin.svg) no-repeat; background-size: cover; width: 13px; height: 14px; cursor: pointer; }
    .instagram { position: relative; background: url(../creative/social/instagram.svg) no-repeat; background-size: cover; width: 13px; height: 14px; cursor: pointer; }
    .dribbble { position: relative; background: url(../creative/social/dribbble.svg) no-repeat; background-size: contain; width: 14px; height: 14px; cursor: pointer; }
}

.copyright { display: none; position: fixed; width: 144px; height: 16px; bottom: 13px; right: 40px; z-index: 99999; 
    @include respond-to(tablet) { font-size: 14.5px; display: block; right: 31px; opacity: .7; }
    @include respond-to(desktop-1024) { right: 40px; }
}

footer { position: relative; display: flex; flex-direction: column; align-items: center; width: 100%; background-color: rgb(255, 234, 1);
    .primary-footer { display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 80px 0;
        @include respond-to(tablet) { padding: 80px 0 124px; }
        .btn { display: flex; justify-content: center; align-items: center; position: relative; width: 260px; height: 60px; border: 6px solid #333; font-size: 16px; font-weight: 700; letter-spacing: .5px; border-radius: 30px; transition: .25s background ease-out; cursor: pointer;
            a { display: flex; justify-content: center; align-items: center; position: relative; color: #333; width: 260px; height: 60px; padding: 0 20px; 
                .arrow-dark { position: relative; width: 12px; height: 14px; background: url(../creative/arrow-right-dark.svg); background-size: cover; margin: 0 0 0 12px; }
                .arrow-light { position: absolute; width: 12px; height: 14px; background: url(../creative/arrow-right.svg); background-size: cover; margin: 0 0 0 12px; top: 50%; transform: translateY(-50%); right: 52px; opacity: 0; }
            }
            &:hover { background:#333; }
            &:hover a { color: #fff; }
            &:hover a .arrow-light { opacity: 1; }
        }
        p { font-family: "Replica-Bold", sans-serif; letter-spacing: 1px; padding-top: 32px; }
    }
    .social-icons { display: flex; flex-direction: row; position: absolute; bottom: 0; left: 0; padding: 16px 20px; opacity: .8;
        @include respond-to(tablet) { display: none; }
        .icon { margin-right: 20px }
        .linkedin { position: relative; background: url(../creative/social/linkedin.svg) no-repeat; background-size: cover; width: 11px; height: 11px; }
        .instagram { position: relative; background: url(../creative/social/instagram.svg) no-repeat; background-size: cover; width: 11px; height: 11px; }
        .dribbble { position: relative; background: url(../creative/social/dribbble.svg) no-repeat; background-size: contain; width: 12px; height: 12px; }
    }
    .copyright { display: block; position: absolute; font-size: 12.5px; width: 126px; height: 14px; bottom: 11px; right: 18px;z-index: 99999; opacity: .7;
        @include respond-to(tablet) { display: none; }
    }
}