$section-spacing: 144px;
$max-content-width: 1242px;

section { position: relative; display: flex; justify-content: center; width: 100%; }
.section-background { background: #EDF3F7; margin-top: $section-spacing - 56;
    @include respond-to(tablet) { margin-top: $section-spacing - 48; }
    @include respond-to(desktop-1024) { margin-top: $section-spacing - 32; }
    @include respond-to(desktop-1536) { margin-top: $section-spacing; }
    .content { padding: 32px 20px !important; margin: 0 !important;
        @include respond-to(tablet) { padding: 48px 32px !important; }
        @include respond-to(desktop-1024) { padding: 48px 56px !important; } 
        @include respond-to(desktop-1536) { padding: 72px 56px !important; }
    }
    .content-cards { padding: 32px 20px 48px !important; margin: 0 0 -36px !important; 
        @include respond-to(tablet) { padding: 48px 32px 72px !important; } 
        @include respond-to(desktop-1536) { padding: 72px 56px 96px !important; }
    }
}

.content { position: relative; width: 100%; padding: 0 20px; margin-top: $section-spacing - 56;
    @include respond-to(tablet) { padding: 16px 32px 0; }
    @include respond-to(desktop-1024) { padding: 16px 56px 0; }
    @include respond-to(desktop-1280) { padding: 48px 56px 0; max-width: $max-content-width; }
    @include respond-to(desktop-1536) { padding: 56px 56px 0; margin-top: $section-spacing - 56; }
}
.content-cards { margin: $section-spacing - 64 0 -36px; 
    @include respond-to(tablet) { margin: $section-spacing - 56 0 -36px; }
}
.content-background { padding: 40px 20px; margin: $section-spacing - 56 0 0; background: #EDF3F7; border-radius: 0px;
    @include respond-to(tablet) { padding: 56px 32px; margin: $section-spacing - 24 0 0; }
    @include respond-to(desktop-1280) { padding: 56px; margin: $section-spacing 0 0; border-radius: 20px; }
    @include respond-to(desktop-1536) { margin: $section-spacing +8 0 0; }
}
.content-cards.content-background { padding: 40px 20px 24px;
    @include respond-to(tablet) { padding: 56px 32px 56px; }
    @include respond-to(desktop-1280) { padding: 56px 56px 28px; }
}
.content-full { max-width: 1920px; padding: 0 20px; 
    @include respond-to(tablet) { padding: 0 32px; }
    @include respond-to(desktop-1024) { padding: 0 40px; }
}

// main section:nth-child(2) {
//     .content { 
//         // @include respond-to(tablet) { padding: 16px 32px 0; }
//         @include respond-to(desktop-1280) { padding: 32px 56px 0; }
//         @include respond-to(desktop-1536) { padding: 40px 56px 0; }
//     }
//     .content.content-background { margin-top: 24px;
//         @include respond-to(desktop-1024) { margin-top: 32px; }
//         @include respond-to(desktop-1280) { margin-top: 48px; padding: 56px; }
//     }
// }