.work-wrapper { position: relative; display: flex; flex-direction: column; justify-content: space-between; width: 100%; padding: 88px 20px 48px;
    @include respond-to(tablet) { padding: 120px 40px 80px; }
    @include respond-to(desktop-1280) { padding: 120px 0; width: 1176px; }
    @include respond-to(desktop-1366) { width: 1366px; }
    &_copy { width: 100%;
      @include respond-to(desktop-1280) { width: 48%; }
      h2 { color: #4BA8F5; padding-bottom: 16px; 
        @include respond-to(tablet) { font-size: 40px; }
      }
      p { font-size: 18px; line-height: 1.7; }
    }
    .casestudies { display: flex; flex-direction: column; justify-content: space-between; position: relative; width: 100%; margin-top: 32px;
      @include respond-to(tablet) { flex-direction: row; margin-top: 40px; }
      @include respond-to(desktop-1280) { margin-top: -64px; }
      @include respond-to(desktop-1366) { margin-top: -64px; }
      .col1 { position: relative; width: 100%;
        @include respond-to(tablet) { width: 48%; }
        @include respond-to(desktop-1024) { padding-bottom: 48px; }
        @include respond-to(desktop-1280) { width: 47.5%; padding-bottom: 0; }
        @include respond-to(desktop-1366) { width: 49%; }
        .top {
          @include respond-to(desktop-1280) { padding: 104px 0 72px; }
          @include respond-to(desktop-1366) { padding: 112px 0 96px; }
          .case-study-1 { position: relative; width: 100%; height: 250px; cursor: pointer;
            @include respond-to(tablet) { height: 270px; }
            @include respond-to(desktop-1280) { height: 360px; }
            @include respond-to(desktop-1366) { height: 408px; }
            .case-study-1-bg { position: absolute; width: 100%; height: 100%; top: 0px; background: $yellow-color; }
          }
        }
        .mid { display: flex; flex-direction: column; justify-content: space-between;
          @include respond-to(desktop-1280) { flex-direction: row;  }
          .mid-1 { display: flex; flex-direction: column; width: 100%;
            @include respond-to(desktop-1280) { width: 49%;  }
            @include respond-to(desktop-1366) { width: 49.5%;  }
            .case-study-6 { position: relative; width: 100%; height: 526px; margin-top: 24px; cursor: pointer;
              @include respond-to(desktop-1280) { height: 538px; }
              @include respond-to(desktop-1366) { height: 586px; margin-top: 0px; }
              .case-study-6-bg { position: absolute; width: 100%; height: 100%; top: 0px; background: $eggplant-color; }
            }
            .case-study-2 { position: relative; width: 100%; height: 662px; margin-top: 24px; cursor: pointer;
              @include respond-to(tablet) { height: 682px; }
              @include respond-to(desktop-1280) { height: 586px; margin-top: 32px; }
              @include respond-to(desktop-1366) { height: 674px; margin-top: 56px; }
              .case-study-2-bg { position: absolute; width: 100%; height: 100%; top: 0px; background: $blue-color; }
            }
          }
          .mid-2 { display: flex; flex-direction: column; width: 100%;
            @include respond-to(desktop-1280) { width: 47%; }
            @include respond-to(desktop-1366) { width: 48%; }
            .plane { position: relative; width: 100%; margin-top: 24px;
              @include respond-to(desktop-1280) { margin-top: 0px; }
              .boeing { position: relative; left: 16%;
                @include respond-to(tablet) { left: 16%; }
                @include respond-to(desktop-1280) { left: 18%; }
              }
            }
            .case-study-3 { position: relative; width: 100%; height: 470px; margin-top: 24px; cursor: pointer;
              @include respond-to(desktop-1280) { height: 444px; margin-top: 32px; }
              @include respond-to(desktop-1366) { height: 486px; margin-top: 56px; }
              .case-study-3-bg { position: absolute; width: 100%; height: 100%; top: 0px; background: $brand-color; }
            }
            .case-study-4 { position: relative; width: 100%; height: 512px; margin-top: 24px; cursor: pointer;
              @include respond-to(tablet) { height: 662px; }
              @include respond-to(desktop-1280) { height: 474px; margin-top: 32px; }
              @include respond-to(desktop-1366) { height: 474px; margin-top: 56px; }
              .case-study-4-bg { position: absolute; width: 100%; height: 100%; top: 0px; background: $eggplant-color; }
            }
          }
        }
      }
      .col2 { position: relative; width: 100%;
        @include respond-to(tablet) { width: 48%; }
        @include respond-to(desktop-1280) { width: 47.5%; }
        @include respond-to(desktop-1366) { width: 49%; }
        .top { display: flex; flex-direction: column; justify-content: space-between;
          @include respond-to(desktop-1280) { flex-direction: row;  }
          .top-1 { width: 100%;
            @include respond-to(desktop-1280) { width: 47%;  }
            @include respond-to(desktop-1366) { width: 48%;  }
            .case-study-5 { position: relative; width: 100%; height: 526px; margin-top: 24px; cursor: pointer;
              @include respond-to(tablet) { height: 686px; margin-top: 0px; }
              @include respond-to(desktop-1280) { height: 586px; }
              @include respond-to(desktop-1366) { height: 674px; }
              .case-study-5-bg { position: absolute; width: 100%; height: 100%; top: 0px; background: $coral-color; }
            }
          }
          .top-2 { display: flex; flex-direction: column;
            @include respond-to(desktop-1280) { width: 49%; }
            @include respond-to(desktop-1366) { width: 49.3%; }
            .glasses { position: relative; width: 100%; margin-top: 24px;
              @include respond-to(desktop-1280) { margin-top: 0px; }
              .shades { position: relative; left: 20%; padding: 16px 0 8px;
                @include respond-to(tablet) { padding: 24px 0 16px; }
                @include respond-to(desktop-1280) { padding: 20px 0 0; }
              }
            }
            .case-study-9 { position: relative; width: 100%; height: 482px; margin-top: 24px; cursor: pointer;
              @include respond-to(tablet) { height: 492px; }
              @include respond-to(desktop-1280) { height: 418px; margin-top: 32px; }
              @include respond-to(desktop-1366) { height: 492px; margin-top: 30px; }
              .case-study-9-bg { position: absolute; width: 100%; height: 100%; top: 0px; background: $blue-color; }
            }
          }
        }
        .mid {
          @include respond-to(desktop-1280) { padding: 24px 0; }
          @include respond-to(desktop-1366) { padding: 32px 0; }
          // .case-study-7 { position: relative; width: 100%; height: 252px; margin-top: 24px; cursor: pointer;
          //   @include respond-to(tablet) { height: 240px; }
          //   @include respond-to(desktop-1280) { height: 376px; margin-top: 0px; }
          //   @include respond-to(desktop-1366) { height: 406px; }
          //   .case-study-7-bg { position: absolute; width: 100%; height: 100%; top: 0px; background: $grimace-color; }
          // }
          .case-study-7 { position: relative; width: 100%; height: 250px; margin-top: 24px; cursor: pointer;
            @include respond-to(tablet) { height: 270px; }
            @include respond-to(desktop-1280) { height: 360px; margin-top: 0px; }
            @include respond-to(desktop-1366) { height: 408px; }
            .case-study-7-bg { position: absolute; width: 100%; height: 100%; top: 0px; background: $yellow-color; }
          }
        }
        .bottom { display: flex; flex-direction: column; justify-content: space-between;
          @include respond-to(desktop-1280) { flex-direction: column; }
          & > div:first-child {
            display: flex; flex-direction: column; justify-content: space-between;
            @include respond-to(desktop-1280) { flex-direction: row; }
          }
          .bottom-1 { width: 100%;
            @include respond-to(desktop-1280) { width: 48%; }
            @include respond-to(desktop-1366) { width: 48%; }
            .strat { width: 100%; margin-top: 24px;
              @include respond-to(desktop-1280) { margin-top: 120px; }
            }
          }
          .bottom-2 { display: flex; flex-direction: column;
            @include respond-to(desktop-1280) { width: 49.5%; }
            @include respond-to(desktop-1366) { width: 49.3%; }
            .case-study-8 { position: relative; width: 100%; height: 368px; margin-top: 24px; cursor: pointer;
              @include respond-to(tablet) { height: 402px; }
              @include respond-to(desktop-1280) { height: 366px; margin-top: 0px; }
              @include respond-to(desktop-1366) { height: 404px; }
              .case-study-8-bg { position: absolute; width: 100%; height: 100%; top: 0px; background: $blue-color; }
            }
          }
          .case-study-10 { position: relative; width: 100%; height: 252px; margin-top: 24px; cursor: pointer;
            @include respond-to(tablet) { height: 240px; }
            @include respond-to(desktop-1280) { height: 376px; margin-top: 28px; }
            @include respond-to(desktop-1366) { height: 406px; }
            .case-study-10-bg { position: absolute; width: 100%; height: 100%; top: 0px; background: $grimace-color; }
          }
        }
      }
      .case-study-img { position: relative; width: 100%; height: 100%; overflow: hidden; user-select: none; }
      .client-info { position: absolute; top: 0px; font-weight: 700; padding: 20px 0 0 16px; transition: .25s all ease-out; user-select: none;
        @include respond-to(tablet) { padding: 20px 0 0 20px; }
        @include respond-to(desktop-1280) { padding: 24px 0 0 24px; }
        @include respond-to(desktop-1366) { padding: 28px 0 0 28px; }
        h4 { font-family: "Replica-Bold", sans-serif; padding: 0 0 0px 0; font-size: 18px; line-height: 1; color: #fff;
          @include respond-to(tablet) { padding: 0 0 2px 0; font-size: 24px;  }
          @include respond-to(desktop-1280) { padding: 0 0 4px 0; }
        }
        p { font-family: "Replica-Bold", sans-serif; font-size: 14px; line-height: 21px; color: #fff; }
        .text-dark { color: #444; }
      }
      .ul-setf-img { width: 100%; height: 100%; position: relative; display: flex; justify-content: center; align-items: center; margin-top: 36px; }
      .ul-verify-img { position: relative; display: flex; justify-content: center; align-items: center; margin-top: 40px;
        @include respond-to(tablet) { margin-top: 54px; }
        @include respond-to(desktop-1280) { margin-top: 20px; }
        @include respond-to(desktop-1366) { margin-top: 0px; }
      }
      .parkjockey-img { position: relative; display: flex; justify-content: center; align-items: center; margin-top: 72px; padding-left: 50px;
        @include respond-to(tablet) { margin-top: 84px; padding-left: 50px; }
        @include respond-to(desktop-1280) { margin-top: 100px; padding-left: 40px; }
        @include respond-to(desktop-1366) { margin-top: 102px; padding-left: 56px; }
      }
      .ul-medical-img { position: relative; display: flex; justify-content: center; align-items: center; margin-top: 80px;
        @include respond-to(tablet) { margin-top: 84px; }
        @include respond-to(desktop-1280) { margin-top: 126px; }
        @include respond-to(desktop-1366) { margin-top: 100px; }
      }
      .tudor-img { position: relative; display: flex; justify-content: center; align-items: center; margin-top: 46px; padding-left: 90px;
        @include respond-to(tablet) { margin-top: 84px; padding-left: 40px; }
        @include respond-to(desktop-1280) { margin-top: 70px; padding-left: 50px; }
        @include respond-to(desktop-1366) { margin-top: 52px; padding-left: 108px; }
      }
      .chabad-img { position: relative; display: flex; justify-content: center; align-items: center; margin-top: 40px;
        @include respond-to(tablet) { margin-top: 48px; margin-left: -78px; }
        @include respond-to(desktop-1280) { margin-top: 96px; margin-left: -56px; }
        @include respond-to(desktop-1366) { margin-top: 98px; margin-left: -66px; }
      }
      .fedex-img { position: relative; display: flex; justify-content: center; align-items: center; margin-top: 144px;
        @include respond-to(tablet) { margin-top: 158px; }
        @include respond-to(desktop-1280) { margin-top: 214px; }
        @include respond-to(desktop-1366) { margin-top: 188px; }
      }
      .celebrity-img { position: relative; display: flex; justify-content: center; align-items: center; margin-top: 104px;
        @include respond-to(desktop-1280) { margin-top: 132px; }
      }
      .ul-customer-portal-img { position: relative; display: flex; justify-content: center; align-items: center; margin-top: 88px;
        @include respond-to(tablet) { margin-top: 104px; }
        @include respond-to(desktop-1280) { margin-top: 112px; }
        @include respond-to(desktop-1366) { margin-top: 120px; }
      }
      .walgreens-img { position: relative; display: flex; justify-content: center; align-items: center; margin-top: 78px;
        @include respond-to(tablet) { margin-top: 84px; }
        @include respond-to(desktop-1280) { margin-top: 100px; }
        @include respond-to(desktop-1366) { margin-top: 102px; }
      }
      .img-effect { box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16); transition: .25s all ease-out; user-select: none; }
      .case-study-1, .case-study-2, .case-study-3, .case-study-4, .case-study-5, .case-study-6, .case-study-7, .case-study-8, .case-study-9, .case-study-10 { 
        &:hover .img-effect { transform: scale(.94); }
      }
      .case-study-1 { &:hover .client-info { margin: 8px 0 0 20px; } }
      .case-study-2 { &:hover .client-info { margin: 16px 0 0 8px; } }
      .case-study-3, .case-study-4 { &:hover .client-info { margin: 8px 0 0 4px; } }
      .case-study-5 { &:hover .client-info { margin: 16px 0 0 8px; } }
      .case-study-6 { &:hover .client-info { margin: 12px 0 0 8px; } }
      .case-study-7 { &:hover .client-info { margin: 8px 0 0 20px; } }
      .case-study-8 { &:hover .client-info { margin: 8px 0 0 4px; } }
      .case-study-9 { &:hover .client-info { margin: 8px 0 0 4px; } }
      .case-study-10 { &:hover .client-info { margin: 8px 0 0 20px; } }
    }
}