* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  /*-webkit-user-select: none;*/
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #444444;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0px;
  overflow-x: hidden;
}

@font-face {
  font-family: Replica-Bold;
  src: url(../fonts/lineto-replica-bold.eot);
  src: url(../fonts/lineto-replica-bold.eot?#iefix) format("embedded-opentype"), url(../fonts/lineto-replica-bold.woff2) format("woff2"), url(../fonts/lineto-replica-bold.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Replica-Bold-S;
  src: url(../fonts/fonts_subsetted/lineto-replica-bold.eot);
  src: url(../fonts/fonts_subsetted/lineto-replica-bold.eot?#iefix) format("embedded-opentype"), url(../fonts/fonts_subsetted/lineto-replica-bold.woff2) format("woff2"), url(../fonts/fonts_subsetted/lineto-replica-bold.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 34px;
  line-height: 42px;
  font-family: "Replica-Bold", sans-serif !important;
  font-weight: 700;
  margin: 0px;
  overflow: visible;
  padding: 0px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 42px;
    line-height: 48px;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 42px;
    line-height: 48px;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 96px;
    line-height: 106px;
  }
}

h2 {
  font-size: 28px;
  font-family: "Replica-Bold", sans-serif !important;
  font-weight: 700;
  margin: 0px;
  overflow: visible;
  padding: 0 0 16px 0;
}

@media (min-width: 768px) {
  h2 {
    font-size: 36px;
    padding: 0 0 24px 0;
  }
}

@media (min-width: 1440px) {
  h2 {
    font-size: 42px;
    padding: 0 0 40px 0;
  }
}

h3 {
  font-size: 21px;
  font-family: "Replica-Bold", sans-serif !important;
  font-weight: 700;
  margin: 0px;
  overflow: visible;
  padding: 0 0 20px 0;
}

@media (min-width: 768px) {
  h3 {
    font-size: 32px;
    padding: 0 0 24px 0;
  }
}

h4 {
  font-size: 18px;
  font-family: "Replica-Bold", sans-serif !important;
  font-weight: 700;
  margin: 0px;
  overflow: visible;
  padding: 0 0 20px 0;
}

@media (min-width: 768px) {
  h4 {
    font-size: 26px;
    padding: 0 0 24px 0;
  }
}

h5 {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  overflow: visible;
  padding: 0 0 20px 0;
}

@media (min-width: 768px) {
  h5 {
    font-size: 16px;
    padding: 0 0 20px 0;
  }
}

.work-with-us h4 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0px;
  overflow: visible;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .work-with-us h4 {
    font-size: 26px;
    padding: 24px 0;
  }
}

p {
  font-size: 18px;
  line-height: 30px;
  margin: 0px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 1280px) {
  p {
    line-height: 34px;
  }
}

@media (min-width: 1440px) {
  p {
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  p {
    font-size: 21px;
  }
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  background: #eee;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  list-style: none;
}

@media (min-width: 768px) {
  ul {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 1280px) {
  ul {
    line-height: 34px;
  }
}

@media (min-width: 1440px) {
  ul {
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  ul {
    font-size: 21px;
  }
}

ul li {
  margin-bottom: 20px;
}

@media (min-width: 1280px) {
  ul li {
    margin-bottom: 16px;
  }
}

@media (min-width: 1440px) {
  ul li {
    margin-bottom: 20px;
  }
}

ul li::before {
  content: "\25A0";
  color: #4BA8F5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media (min-width: 768px) {
  ul li::before {
    width: 1.2em;
    margin-left: -1.1em;
  }
}

.grid-line {
  position: fixed;
  background: #000;
  width: 1px;
  height: 100%;
  top: 0px;
  opacity: .06;
}

.wf-grid-left-out {
  display: none;
}

@media (min-width: 1280px) {
  .wf-grid-left-out {
    display: block;
    left: 50%;
    margin-left: -620px;
  }
}

@media (min-width: 1440px) {
  .wf-grid-left-out {
    margin-left: -700px;
  }
}

@media (min-width: 1600px) {
  .wf-grid-left-out {
    margin-left: -940px;
  }
}

.wf-grid-left-mid {
  left: 0px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .wf-grid-left-mid {
    left: 0px;
    margin-left: 15px;
  }
}

@media (min-width: 1280px) {
  .wf-grid-left-mid {
    left: 50%;
    margin-left: -304px;
  }
}

@media (min-width: 1440px) {
  .wf-grid-left-mid {
    margin-left: -344px;
  }
}

@media (min-width: 1600px) {
  .wf-grid-left-mid {
    margin-left: -464px;
  }
}

.wf-grid-center {
  left: 50%;
  margin-left: -.5px;
}

.wf-grid-right-mid {
  right: 0px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .wf-grid-right-mid {
    right: 0px;
    margin-right: 15px;
  }
}

@media (min-width: 1280px) {
  .wf-grid-right-mid {
    right: 50%;
    margin-right: -304px;
  }
}

@media (min-width: 1440px) {
  .wf-grid-right-mid {
    margin-right: -344px;
  }
}

@media (min-width: 1600px) {
  .wf-grid-right-mid {
    margin-right: -464px;
  }
}

.wf-grid-right-out {
  display: none;
}

@media (min-width: 1280px) {
  .wf-grid-right-out {
    display: block;
    right: 50%;
    margin-right: -620px;
  }
}

@media (min-width: 1440px) {
  .wf-grid-right-out {
    margin-right: -700px;
  }
}

@media (min-width: 1600px) {
  .wf-grid-right-out {
    margin-right: -940px;
  }
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100vw;
  top: 0px;
  -webkit-backface-visibility: hidden;
}

.top-header .navigation {
  position: relative;
  width: 100%;
  /*max-width:1920px;*/
  padding: 24px 20px;
}

@media (min-width: 768px) {
  .top-header .navigation {
    padding: 40px 30px;
  }
}

@media (min-width: 1280px) {
  .top-header .navigation {
    padding: 40px 40px;
  }
}

@media (min-width: 1440px) {
  .top-header .navigation {
    padding: 40px 40px;
  }
}

@media (min-width: 1600px) {
  .top-header .navigation {
    padding: 40px 40px;
  }
}

.top-header .navigation .wf-logo {
  width: 123px;
  height: 18px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .top-header .navigation .wf-logo {
    width: 246px;
    height: 36px;
  }
}

.top-header .menu {
  display: none;
}

@media (min-width: 768px) {
  .top-header .menu {
    display: block;
    padding: 40px 30px;
  }
}

@media (min-width: 1280px) {
  .top-header .menu {
    display: block;
    padding: 40px 40px;
  }
}

.top-header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  list-style: none;
}

.top-header .menu ul li {
  margin-left: 40px;
  margin-bottom: 0px;
  cursor: pointer;
}

.top-header .menu ul li::before {
  display: none;
}

.top-header .menu ul li:hover {
  border-bottom: 3px solid;
}

.top-header .menu .link-active {
  border-bottom: 3px solid;
}

.top-header .menu-hamburger {
  padding: 22px 20px;
}

@media (min-width: 768px) {
  .top-header .menu-hamburger {
    display: none;
  }
}

.top-header .mobile-close {
  display: none;
  position: absolute;
  background: url(../img/svg/close-icon.svg) no-repeat;
  background-size: contain;
  background-position: center center;
  width: 14px;
  height: 14px;
  right: 0px;
  margin: 25px 20px;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0px;
  background: #ef4f53;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.mobile-menu .menu ul {
  margin: 0;
  padding: 0;
  font-family: "Replica-Bold", sans-serif !important;
  font-size: 52px;
  font-weight: 500;
  color: #fff;
  list-style: none;
}

.mobile-menu .menu ul li {
  margin: 80px 0;
  text-align: center;
  cursor: pointer;
}

.mobile-menu .menu ul li::before {
  display: none;
}

.copyrite {
  position: fixed;
  bottom: 0px;
  right: 0px;
  /* width: 92px; */
  font-size: 11.5px;
  opacity: .7;
  height: 10px;
  /* background: url(../img/social/copyright.svg) no-repeat; */
  background-size: contain;
}

@media (min-width: 768px) {
  .copyrite {
    font-size: 14.5px;
    -webkit-transform: none;
            transform: none;
    width: 144px;
    height: 16px;
    bottom: 16px;
    right: 30px;
  }
}

@media (min-width: 1280px) {
  .copyrite {
    bottom: 16px;
    right: 40px;
  }
}

.social-icons {
  position: fixed;
  width: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0px;
  left: 0px;
  font-size: 11px;
  opacity: .8;
}

@media (min-width: 768px) {
  .social-icons {
    width: 160px;
    bottom: 0px;
    left: 0px;
    font-size: 14px;
    padding: 16px 30px;
  }
}

@media (min-width: 1280px) {
  .social-icons {
    padding: 16px 40px;
  }
}

@media (min-width: 1440px) {
  .social-icons {
    padding: 16px 40px;
  }
}

@media (min-width: 1600px) {
  .social-icons {
    padding: 16px 40px;
  }
}

.social-icons .cursor-pointer {
  cursor: pointer;
}

.social-icons .social-linkedin {
  position: relative;
  background: url(../img/social/linkedin.svg) no-repeat;
  background-size: cover;
  width: 10px;
  height: 10px;
}

@media (min-width: 768px) {
  .social-icons .social-linkedin {
    width: 13px;
    height: 14px;
  }
}

.social-icons .social-instagram {
  position: relative;
  background: url(../img/social/instagram.svg) no-repeat;
  background-size: cover;
  width: 10px;
  height: 10px;
}

@media (min-width: 768px) {
  .social-icons .social-instagram {
    width: 13px;
    height: 14px;
  }
}

.social-icons .social-dribbble {
  position: relative;
  background: url(../img/social/dribbble.svg) no-repeat;
  background-size: contain;
  width: 11px;
  height: 11px;
}

@media (min-width: 768px) {
  .social-icons .social-dribbble {
    width: 14px;
    height: 14px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  /*background: $light-grey;*/
  background: url(../img/setf-cws/hero.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
}

.header .case-study {
  position: relative;
  width: 100%;
  padding: 92px 20px 56px;
  color: #fff;
}

@media (min-width: 768px) {
  .header .case-study {
    width: 100%;
    padding: 144px 32px 72px;
  }
}

@media (min-width: 1280px) {
  .header .case-study {
    width: 792px;
    padding: 160px 0 128px;
  }
}

@media (min-width: 1440px) {
  .header .case-study {
    width: 900px;
    padding: 168px 0 136px;
  }
}

@media (min-width: 1600px) {
  .header .case-study {
    width: 910px;
    padding: 176px 0 160px;
  }
}

.header .case-study p {
  font-size: 18px;
  line-height: 30px;
  padding: 20px 0 24px;
}

@media (min-width: 768px) {
  .header .case-study p {
    font-size: 18px;
    line-height: 30px;
    padding: 32px 0 40px;
  }
}

@media (min-width: 1280px) {
  .header .case-study p {
    font-size: 18px;
    line-height: 30px;
    padding: 32px 0 40px;
  }
}

@media (min-width: 1440px) {
  .header .case-study p {
    font-size: 21px;
    line-height: 34px;
    padding: 32px 0 48px;
  }
}

@media (min-width: 1600px) {
  .header .case-study p {
    font-size: 24px;
    line-height: 34px;
    padding: 48px 0 56px;
  }
}

.header .case-study .work-spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 32px;
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: 768px) {
  .header .case-study .work-spec {
    line-height: 40px;
    padding-top: 48px;
  }
}

@media (min-width: 1440px) {
  .header .case-study .work-spec {
    font-size: 18px;
    padding-top: 56px;
  }
}

@media (min-width: 768px) {
  .header .case-study .work-spec {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header .case-study .work-spec #workType {
  position: relative;
  background: #FFEA01;
  width: 88px;
  padding: 6px;
  color: #000;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .header .case-study .work-spec #workType {
    width: 92px;
    padding: 0px 10px;
  }
}

@media (min-width: 1440px) {
  .header .case-study .work-spec #workType {
    width: 104px;
    padding: 0px 6px;
  }
}

.header .case-study .work-spec .mdash {
  position: relative;
  display: none;
}

@media (min-width: 768px) {
  .header .case-study .work-spec .mdash {
    display: block;
    padding: 0 8px;
  }
}

@media (min-width: 1600px) {
  .header .case-study .work-spec .mdash {
    padding: 0 12px;
  }
}

.header .case-study .work-spec #workSpec {
  padding-top: 8px;
}

@media (min-width: 768px) {
  .header .case-study .work-spec #workSpec {
    padding-top: 0px;
  }
}

.header .case-study .back {
  position: relative;
  font-weight: 500;
  margin: 0 0 24px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header .case-study .back {
    font-size: 15px;
    margin: 0 0 32px;
  }
}

@media (min-width: 1280px) {
  .header .case-study .back {
    font-size: 15px;
    margin: 0 0 40px;
  }
}

@media (min-width: 1440px) {
  .header .case-study .back {
    font-size: 16px;
    margin: 0 0 36px;
  }
}

@media (min-width: 1600px) {
  .header .case-study .back {
    font-size: 20px;
    margin: 0 0 52px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 48px 32px 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    padding: 80px 32px 0;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 96px 0 0 0;
  }
}

@media (min-width: 1600px) {
  .container {
    padding: 88px 0 0 0;
  }
}

.container .row {
  width: 100%;
  position: relative;
  padding-bottom: 40px;
  background: #fff;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media (min-width: 768px) {
  .container .row {
    padding-bottom: 88px;
  }
}

@media (min-width: 1280px) {
  .container .row {
    width: auto;
    padding-bottom: 96px;
  }
}

.container .row.visible {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.container .c-standard {
  position: relative;
  width: 100%;
}

@media (min-width: 1280px) {
  .container .c-standard {
    width: 590px;
  }
}

@media (min-width: 1440px) {
  .container .c-standard {
    width: 670px;
  }
}

@media (min-width: 1600px) {
  .container .c-standard {
    width: 620px;
  }
}

.container .c-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .container .c-split {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .container .c-split {
    width: 794px;
  }
}

@media (min-width: 1440px) {
  .container .c-split {
    width: 900px;
  }
}

@media (min-width: 1600px) {
  .container .c-split {
    width: 910px;
  }
}

.container .c-split .c-split-content {
  position: relative;
  width: 100%;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .container .c-split .c-split-content {
    width: 46%;
    padding-bottom: 0px;
    /*padding-bottom: 40px;*/
  }
}

.container .c-split .c-split-img {
  position: relative;
  width: 100%;
  background: #E1E8EE;
}

@media (min-width: 768px) {
  .container .c-split .c-split-img {
    width: 49%;
  }
}

.container .c-split-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .container .c-split-overlay {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .container .c-split-overlay {
    width: 942px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1440px) {
  .container .c-split-overlay {
    width: 1048px;
  }
}

.container .c-split-overlay .c-split-overlay-content {
  position: relative;
  width: 100%;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .container .c-split-overlay .c-split-overlay-content {
    width: 46%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 1280px) {
  .container .c-split-overlay .c-split-overlay-content {
    padding-top: 48px;
    padding-bottom: 40px;
  }
}

.container .c-split-overlay .c-split-img {
  position: relative;
  width: 100%;
  height: 280px;
  background: #E1E8EE;
}

@media (min-width: 768px) {
  .container .c-split-overlay .c-split-img {
    width: 49%;
    height: 437px;
  }
}

@media (min-width: 1280px) {
  .container .c-split-overlay .c-split-img {
    height: 650px;
  }
}

@media (min-width: 1440px) {
  .container .c-split-overlay .c-split-img {
    height: 650px;
  }
}

.container .c-split-overlay-margin {
  margin-top: 36px;
}

@media (min-width: 768px) {
  .container .c-split-overlay-margin {
    margin-top: 40px;
  }
}

@media (min-width: 1280px) {
  .container .c-split-overlay-margin {
    margin-top: -240px;
  }
}

@media (min-width: 1440px) {
  .container .c-split-overlay-margin {
    margin-top: -248px;
  }
}

@media (min-width: 1600px) {
  .container .c-split-overlay-margin {
    margin-top: -192px;
  }
}

.container .c-img-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

@media (min-width: 1280px) {
  .container .c-img-split {
    width: 794px;
  }
}

@media (min-width: 1440px) {
  .container .c-img-split {
    width: 900px;
  }
}

@media (min-width: 1600px) {
  .container .c-img-split {
    width: 910px;
  }
}

.container .c-img-split .c-img {
  position: relative;
  width: 47.8%;
  height: 188px;
  background: #E1E8EE;
}

@media (min-width: 768px) {
  .container .c-img-split .c-img {
    height: 414px;
  }
}

@media (min-width: 1280px) {
  .container .c-img-split .c-img {
    height: 468px;
  }
}

@media (min-width: 1440px) {
  .container .c-img-split .c-img {
    height: 506px;
  }
}

@media (min-width: 1600px) {
  .container .c-img-split .c-img {
    height: 536px;
  }
}

.container .c-quote {
  position: relative;
  width: 88%;
  margin: auto;
}

@media (min-width: 768px) {
  .container .c-quote {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1280px) {
  .container .c-quote {
    width: 590px;
  }
}

@media (min-width: 1440px) {
  .container .c-quote {
    width: 670px;
  }
}

@media (min-width: 1600px) {
  .container .c-quote {
    width: 620px;
  }
}

.container .c-quote .quote {
  position: relative;
  width: 44px;
  height: 31px;
  background: url(../img/svg/quote.svg) no-repeat;
  background-size: cover;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .container .c-quote .quote {
    width: 54px;
    height: 38px;
    margin-bottom: 36px;
  }
}

@media (min-width: 1280px) {
  .container .c-quote .quote {
    width: 54px;
    height: 38px;
    margin-bottom: 36px;
  }
}

@media (min-width: 1440px) {
  .container .c-quote .quote {
    width: 60px;
    height: 42px;
    margin-bottom: 40px;
  }
}

.container .c-quote h2 {
  padding: 0 0 8px;
  line-height: 40px;
  color: #4BA8F5;
}

@media (min-width: 768px) {
  .container .c-quote h2 {
    padding: 0 0 8px;
    line-height: 54px;
  }
}

@media (min-width: 1280px) {
  .container .c-quote h2 {
    padding: 0 0 8px;
    line-height: 54px;
  }
}

@media (min-width: 1440px) {
  .container .c-quote h2 {
    padding: 0 0 16px;
    line-height: 56px;
  }
}

.container .c-hr {
  width: 100%;
}

@media (min-width: 1280px) {
  .container .c-hr {
    width: 590px;
  }
}

@media (min-width: 1440px) {
  .container .c-hr {
    width: 670px;
  }
}

@media (min-width: 1600px) {
  .container .c-hr {
    width: 620px;
  }
}

.container .c-hr-full {
  width: 100%;
}

.container .img {
  position: relative;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 768px) {
  .container .img {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .container .img {
    width: 794px;
  }
}

@media (min-width: 1440px) {
  .container .img {
    width: 900px;
  }
}

@media (min-width: 1600px) {
  .container .img {
    width: 910px;
  }
}

.container .img-full-w {
  position: relative;
  overflow: hidden;
  width: 121%;
  margin-left: -32px;
}

@media (min-width: 768px) {
  .container .img-full-w {
    width: 100%;
    margin-left: 0px;
  }
}

@media (min-width: 1280px) {
  .container .img-full-w {
    width: 794px;
  }
}

@media (min-width: 1440px) {
  .container .img-full-w {
    width: 900px;
  }
}

@media (min-width: 1600px) {
  .container .img-full-w {
    width: 910px;
  }
}

.container .img-wide {
  position: relative;
  width: 100%;
  width: 140%;
  margin-left: -20%;
}

@media (min-width: 1280px) {
  .container .img-wide {
    width: 100%;
    margin-left: 0px;
    padding: 0 40px;
  }
}

.container .img-graph {
  position: relative;
  width: 200%;
  margin-left: -20px;
}

@media (min-width: 768px) {
  .container .img-graph {
    width: 105%;
    margin-left: -32px;
  }
}

@media (min-width: 1280px) {
  .container .img-graph {
    width: 949px;
    margin-left: 0px;
  }
}

.container .img-plus-mobile-height {
  height: 280px;
}

@media (min-width: 768px) {
  .container .img-plus-mobile-height {
    width: 100%;
    height: 396px;
  }
}

@media (min-width: 1280px) {
  .container .img-plus-mobile-height {
    width: 794px;
    height: 447px;
  }
}

@media (min-width: 1440px) {
  .container .img-plus-mobile-height {
    width: 900px;
    height: 506px;
  }
}

@media (min-width: 1600px) {
  .container .img-plus-mobile-height {
    width: 910px;
    height: 512px;
  }
}

.container .caption {
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .container .caption {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .container .caption {
    width: 794px;
  }
}

@media (min-width: 1440px) {
  .container .caption {
    width: 900px;
  }
}

@media (min-width: 1600px) {
  .container .caption {
    width: 910px;
  }
}

.container .caption-full-w {
  position: relative;
  width: 112%;
}

@media (min-width: 768px) {
  .container .caption-full-w {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .container .caption-full-w {
    width: 794px;
  }
}

@media (min-width: 1440px) {
  .container .caption-full-w {
    width: 900px;
  }
}

@media (min-width: 1600px) {
  .container .caption-full-w {
    width: 910px;
  }
}

.container .caption-full-w .caption-copy {
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 768px) {
  .container .caption-full-w .caption-copy {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.container .caption-copy {
  position: relative;
  width: 100%;
  font-size: 12px;
  color: #444;
  padding-top: 12px;
}

@media (min-width: 768px) {
  .container .caption-copy {
    width: 72%;
    font-size: 16px;
    padding-top: 20px;
    line-height: 24px;
  }
}

.container .authors-title {
  font-size: 24px;
  padding-bottom: 32px;
}

@media (min-width: 1280px) {
  .container .authors-title {
    padding-bottom: 40px;
  }
}

.container .authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .container .authors {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .container .authors {
    width: 590px;
  }
}

@media (min-width: 1440px) {
  .container .authors {
    width: 670px;
  }
}

@media (min-width: 1600px) {
  .container .authors {
    width: 620px;
  }
}

.container .authors .authors-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 14px;
  padding: 32px 8px 0 0;
}

@media (min-width: 1280px) {
  .container .authors .authors-container {
    width: 50%;
    padding: 40px 8px 0 0;
  }
}

.container .authors .authors-container h4 {
  font-size: 24px;
  padding-bottom: 12px;
}

@media (min-width: 1280px) {
  .container .authors .authors-container h4 {
    font-size: 21px;
  }
}

@media (min-width: 1440px) {
  .container .authors .authors-container h4 {
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .container .authors .authors-container h4 {
    font-size: 21px;
  }
}

.container .authors .authors-container .author-image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .container .authors .authors-container .author-image {
    width: 94px;
    height: 94px;
  }
}

.container .c-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .container .c-tiles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .container .c-tiles {
    width: 590px;
  }
}

@media (min-width: 1440px) {
  .container .c-tiles {
    width: 670px;
  }
}

@media (min-width: 1600px) {
  .container .c-tiles {
    width: 620px;
  }
}

.container .c-tiles .tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .container .c-tiles .tile {
    width: 48%;
    padding-bottom: 48px;
    font-size: 18px;
    line-height: 30px;
  }
}

.container .c-tiles .tile .tile-img {
  height: 120px;
  background: #4BA8F5;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .container .c-tiles .tile .tile-img {
    height: 150px;
  }
}

.container .c-tiles .tile .rec {
  width: 100%;
}

.container .c-tiles .tile .circ {
  width: 120px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .container .c-tiles .tile .circ {
    width: 150px;
  }
}

.container .c-tiles-wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .container .c-tiles-wide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .container .c-tiles-wide {
    width: 1200px;
  }
}

@media (min-width: 1440px) {
  .container .c-tiles-wide {
    width: 1360px;
  }
}

.container .c-tiles-wide .tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .container .c-tiles-wide .tile {
    width: 31.5%;
    padding-bottom: 0px;
  }
}

.container .c-tiles-wide .tile h4 {
  font-size: 21px;
}

@media (min-width: 768px) {
  .container .c-tiles-wide .tile h4 {
    line-height: 32px;
  }
}

@media (min-width: 1280px) {
  .container .c-tiles-wide .tile h4 {
    line-height: auto;
  }
}

.container .c-tiles-wide .tile .tile-img {
  width: 100%;
  height: 220px;
  background: #4BA8F5;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .container .c-tiles-wide .tile .tile-img {
    height: 160px;
  }
}

@media (min-width: 1280px) {
  .container .c-tiles-wide .tile .tile-img {
    height: 240px;
  }
}

@media (min-width: 1440px) {
  .container .c-tiles-wide .tile .tile-img {
    height: 290px;
  }
}

.container .c-tiles-graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .container .c-tiles-graph {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .container .c-tiles-graph {
    width: 794px;
  }
}

@media (min-width: 1440px) {
  .container .c-tiles-graph {
    width: 900px;
  }
}

@media (min-width: 1600px) {
  .container .c-tiles-graph {
    width: 910px;
  }
}

.container .c-tiles-graph .tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .container .c-tiles-graph .tile {
    width: 48%;
    font-size: 16px;
    line-height: 28px;
  }
}

.container .c-tiles-graph .tile .tile-img {
  margin-bottom: 24px;
  width: 100px;
  height: 100px;
  background: #4BA8F5;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .container .c-tiles-graph .tile .tile-img {
    margin-bottom: 24px;
    width: 160px;
    height: 160px;
  }
}

.container .c-tiles-graph .tile .mt-40 {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .container .c-tiles-graph .tile .mt-40 {
    margin-top: 0px;
  }
}

.container .c-tiles-roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  border: 1px solid rgba(75, 168, 245, 0.3);
}

@media (min-width: 768px) {
  .container .c-tiles-roadmap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .container .c-tiles-roadmap {
    width: 794px;
  }
}

@media (min-width: 1440px) {
  .container .c-tiles-roadmap {
    width: 900px;
  }
}

@media (min-width: 1600px) {
  .container .c-tiles-roadmap {
    width: 910px;
  }
}

.container .c-tiles-roadmap .tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .container .c-tiles-roadmap .tile {
    padding-bottom: 16px;
  }
}

.container .c-tiles-roadmap .tile h5 {
  width: 100%;
  padding: 0 20px 20px;
}

.container .c-tiles-roadmap .tile .tile-img {
  width: 100%;
  background: #4BA8F5;
  margin-bottom: 32px;
}

.container .c-tiles-roadmap .tile .tile-img h5 {
  padding: 24px 20px;
  color: #fff;
  font-weight: 700;
}

.container .c-tiles-phase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .container .c-tiles-phase {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .container .c-tiles-phase {
    width: 794px;
  }
}

@media (min-width: 1440px) {
  .container .c-tiles-phase {
    width: 900px;
  }
}

@media (min-width: 1600px) {
  .container .c-tiles-phase {
    width: 910px;
  }
}

.container .c-tiles-phase .tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .container .c-tiles-phase .tile {
    padding-bottom: 0px;
  }
}

.container .c-tiles-phase .tile h5 {
  width: 100%;
  padding: 16px 8px 0px;
}

.container .c-tiles-phase .tile .pt-0 {
  padding-top: 0px;
}

@media (min-width: 768px) {
  .container .c-tiles-phase .tile .pt-0 {
    padding-top: 16px;
  }
}

.container .c-tiles-phase .tile .pl-05 {
  padding-left: 2px;
  padding-right: 2px;
}

@media (min-width: 768px) {
  .container .c-tiles-phase .tile .pl-05 {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.container .c-tiles-phase .phase-1 {
  width: 100%;
}

@media (min-width: 768px) {
  .container .c-tiles-phase .phase-1 {
    width: 32.2%;
  }
}

.container .c-tiles-phase .phase-2 {
  width: 100%;
}

@media (min-width: 768px) {
  .container .c-tiles-phase .phase-2 {
    width: 30.3%;
  }
}

.container .c-tiles-phase .phase-3 {
  width: 100%;
}

@media (min-width: 768px) {
  .container .c-tiles-phase .phase-3 {
    width: 37.5%;
  }
}

.container .img-list {
  position: relative;
}

.container .img-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 188px;
  margin: 0;
  padding: 0px;
}

@media (min-width: 768px) {
  .container .img-list ul {
    height: 414px;
  }
}

@media (min-width: 1280px) {
  .container .img-list ul {
    height: 468px;
  }
}

@media (min-width: 1440px) {
  .container .img-list ul {
    height: 506px;
  }
}

@media (min-width: 1600px) {
  .container .img-list ul {
    height: 536px;
  }
}

.container .img-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E1E8EE;
  width: 157px;
  height: 188px;
  list-style: none;
  float: left;
  margin: 0 10px;
  border-radius: 0px;
  -webkit-box-shadow: 0 16px 8px -12px rgba(0, 0, 0, 0);
          box-shadow: 0 16px 8px -12px rgba(0, 0, 0, 0);
}

@media (min-width: 768px) {
  .container .img-list ul li {
    width: 345px;
    height: 414px;
    margin: 0 10px;
  }
}

@media (min-width: 1280px) {
  .container .img-list ul li {
    width: 378px;
    height: 468px;
    margin: 0 28px;
  }
}

@media (min-width: 1440px) {
  .container .img-list ul li {
    width: 422px;
    height: 506px;
    margin: 0 28px;
  }
}

@media (min-width: 1600px) {
  .container .img-list ul li {
    width: 428px;
    height: 536px;
  }
}

.container .img-list ul li::before {
  display: none;
}

.container .persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .container .persona {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1280px) {
  .container .persona {
    width: 590px;
  }
}

@media (min-width: 1440px) {
  .container .persona {
    width: 670px;
  }
}

@media (min-width: 1600px) {
  .container .persona {
    width: 620px;
  }
}

.container .persona .persona-copy {
  padding-right: 32px;
}

.container .persona .persona-copy ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: normal;
  list-style: none;
}

.container .persona .persona-copy ul li {
  margin-bottom: 12px;
  line-height: 28px;
}

@media (min-width: 1440px) {
  .container .persona .persona-copy ul li {
    margin-bottom: 12px;
  }
}

.container .persona .persona-copy ul li::before {
  content: "\25A0";
  color: #4BA8F5;
  font-weight: bold;
  display: inline-block;
  width: .9em;
  margin-left: -.9em;
}

@media (min-width: 768px) {
  .container .persona .persona-copy ul li::before {
    width: 1em;
    margin-left: -1em;
  }
}

.container .persona .img-persona {
  position: relative;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .container .persona .img-persona {
    width: 206px;
    height: 206px;
    margin-bottom: 0px;
  }
}

.container .c-logo-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 1280px) {
  .container .c-logo-divider {
    width: 590px;
  }
}

@media (min-width: 1440px) {
  .container .c-logo-divider {
    width: 670px;
  }
}

@media (min-width: 1600px) {
  .container .c-logo-divider {
    width: 620px;
  }
}

.container .c-logo-divider .wayfinder-mark {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  position: relative;
  background: url(../img/svg/wayfinder-logo.svg) no-repeat;
  background-size: cover;
  height: 36px;
  padding: 0 25px;
  margin: 0 32px;
}

.container .c-logo-divider hr {
  height: 1px;
}

.container .mobile-order1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 768px) {
  .container .mobile-order1 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.container .mobile-display-none {
  display: none !important;
}

@media (min-width: 1280px) {
  .container .mobile-display-none {
    display: block !important;
  }
}

.container .gated-fade {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

@media (min-width: 1280px) {
  .container .flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.container .w-100 {
  width: 100%;
}

.container .pt-p {
  padding-top: 16px;
}

@media (min-width: 768px) {
  .container .pt-p {
    padding-top: 24px;
  }
}

@media (min-width: 1440px) {
  .container .pt-p {
    padding-top: 32px;
  }
}

.container .pb-5 {
  padding-bottom: 40px;
}

.container .pl-2 {
  padding-left: 16px;
}

.container .m-pb-0 {
  padding-bottom: 0px !important;
}

.container .m-mb-0 {
  margin-bottom: 0px !important;
}

.container .text-color-blue {
  color: #4BA8F5;
}

.container .fw-700 {
  font-weight: 700;
}

@media (min-width: 768px) {
  .container .img-mobile {
    display: none;
  }
}

.container .img-desktop {
  display: none;
}

@media (min-width: 768px) {
  .container .img-desktop {
    display: block;
  }
}

.container hr {
  width: 100%;
  border: none;
  height: 1px;
  background: #acb9c3;
}

.container mark {
  background-color: #fffbd2;
}

.container a, .container a:active, .container a:visited {
  display: initial;
  color: #444;
  border-bottom: 2px dashed #4BA8F5;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  background-color: #c6e5ff;
  line-height: 28px;
}

@media (min-width: 768px) {
  .container a, .container a:active, .container a:visited {
    display: inline-block;
    background-color: rgba(198, 229, 255, 0);
  }
}

.container a:hover {
  background-color: #c6e5ff;
  cursor: pointer;
}

.container .numbered-list ul {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  list-style: none;
  counter-reset: my-awesome-counter;
}

@media (min-width: 768px) {
  .container .numbered-list ul {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 1280px) {
  .container .numbered-list ul {
    line-height: 34px;
  }
}

@media (min-width: 1440px) {
  .container .numbered-list ul {
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  .container .numbered-list ul {
    font-size: 21px;
  }
}

.container .numbered-list ul li {
  margin-bottom: 20px;
  counter-increment: my-awesome-counter;
}

@media (min-width: 1280px) {
  .container .numbered-list ul li {
    margin-bottom: 16px;
  }
}

@media (min-width: 1440px) {
  .container .numbered-list ul li {
    margin-bottom: 20px;
  }
}

.container .numbered-list ul li::before {
  content: counter(my-awesome-counter) ".";
  color: #4BA8F5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: inherit;
}

@media (min-width: 768px) {
  .container .numbered-list ul li::before {
    width: 1.4em;
    margin-left: -1.4em;
  }
}

.work-with-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #FFEA01;
  width: 100vw;
  height: 248px;
}

@media (min-width: 768px) {
  .work-with-us {
    height: 320px;
  }
}

.work-with-us h4 {
  font-size: 16px;
}

@media (min-width: 768px) {
  .work-with-us h4 {
    font-size: 18px;
  }
}

.work-with-us a {
  color: inherit;
  text-decoration: none;
}

.work-with-us a:link, .work-with-us a:visited, .work-with-us a:active {
  color: inherit;
  text-decoration: none;
}

.work-with-us a:hover {
  color: inherit;
}

.work-with-us .btn {
  position: relative;
  background: transparent;
  width: 260px;
  margin-top: 80px;
  border: 6px solid #444;
  border-radius: 30px;
  padding: 13px 0;
  color: #444;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .work-with-us .btn {
    margin-top: 100px;
    font-size: 18px;
  }
}

.work-with-us .pt-p {
  padding-top: 16px;
}

@media (min-width: 768px) {
  .work-with-us .pt-p {
    padding-top: 24px;
  }
}

@media (min-width: 1440px) {
  .work-with-us .pt-p {
    padding-top: 32px;
  }
}

.work-with-us .pl-15 {
  padding-left: 12px;
}

.img-team-chinmoy-raval {
  background: url(../img/team/chinmoy-raval.jpg) no-repeat;
  background-size: cover;
}

.img-team-agustin-sanchez {
  background: url(../img/team/agustin-sanchez.jpg) no-repeat;
  background-size: cover;
}

.img-team-johnathan-valencia {
  background: url(../img/team/johnathan-valencia.jpg) no-repeat;
  background-size: cover;
}

.img-effect {
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=style.css.map */