{#
 # Article Tag entry template
 #}

{% extends craft.request.isAjax ? "_ajax" : "_listing-main" %}
{% set entrySlug = craft.request.lastSegment %}
{% set searchText = craft.request.getSegment(3) %}
{% set entry = craft.entries.slug(entrySlug).first() %}
{% set entryID = entry.id %}
{% set categories = craft.categories.relatedTo({ sourceElement: entryID }).groupId(1).find() %}
{% set params = {section: 'articles', search: searchText, order: 'postDate desc'} %}
{% set firstEntry = craft.entries(params).first() %}
{% set lastEntry = craft.entries(params).last() %}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}
{% set title = entry.title %}

{% block entrycontent %}
    <div id="ajax">
        {% include "articles/_types/" ~ entry.type ~ ".html" %}
    </div>
{% endblock %}
