{% paginate entries as portfolioPosts %}
			<section id="iso-content">
				<div class="grid-sizer"></div>
				<div class="gutter-sizer"></div>
				{% for entry in portfolioPosts %}
					{% set tileSize = entry.articleBlockSize %}
					{% set tileImageLow = 'tileLow' ~ tileSize %}
					{% set tileImageHigh = 'tileHigh' ~ tileSize %}
					{% set tileStyle = '' %}
	                {% switch entry.type %}
	                    {% case "project" %}
	                        {% set tileStyle = 'tile-project' %}
	                    {% case "case" %}
	                        {% set tileStyle = 'tile-case-study' %}
	                    {% default %}
	                        {% set tileStyle = 'tile-project' %}
	                {% endswitch %}
					{% if entry.portfolioPhoto | length %}
						<div class="entry tile-{{ tileSize }} {{ tileStyle }} tile-photo" data-image-l="{{ entry.portfolioPhoto.first().getUrl(tileImageLow) }}" data-image-h="{{ entry.portfolioPhoto.first().getUrl(tileImageHigh) }}" style="background: url({{ entry.portfolioPhoto.first().getUrl(tileImageLow) }}) center center / cover no-repeat;">
					{% else %}
						<div class="entry tile-{{ tileSize }} {{ tileStyle }}">
					{% endif %}
						<a href="/portfolio/{{ searchType }}/{{ searchText }}/detail/{{ entry.slug }}" class="link-entry">
						   <div class="entry-content">
								<div class="entry-text">
									<h2>{{ entry.title }}<br>
									{% if entry.type == 'project' %}
										<span class="label-badge">Project</span>
									{% elseif entry.type == 'case' %}
										<span class="label-badge">Case Study</span>
									{% else %}
										{% set entryID = entry.id %}
										{% set categories = craft.categories.relatedTo({ sourceElement: entryID }).groupId(1).find() %}
										{% for category in categories %}
											<span class="label-badge">{{ category.title }}</span>
										{% endfor %}
									{% endif %}</h2>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</section>
			{% if paginate.nextUrl %}<a href="{{ paginate.nextUrl }}">Next Page</a>{% endif %}
		{% endpaginate %}