.header { display: flex; justify-content: center; position: relative; background: $light-grey; width: 100vw; background: no-repeat; background-size: cover; background-position: center center;
  .case-study { position: relative; width: 100%; padding: 96px 20px 56px; color: #fff;
    @include respond-to(tablet-w) { width: 100%; padding: 184px 32px 72px; }
    @include respond-to(desktop-w-s) { width: 792px; padding: 184px 0 128px; }
    @include respond-to(desktop-w-normal) { width: 900px; padding: 192px 0 136px; }
    @include respond-to(desktop-w-xl) { width: 910px; padding: 232px 0 160px; }
    p { font-size: 18px; line-height: 30px; padding: 20px 0 24px;
      @include respond-to(tablet-w)  { font-size: 18px; line-height: 36px; padding: 32px 0 40px; }
      @include respond-to(desktop-w-s)  { font-size: 18px; line-height: 36px; padding: 32px 0 40px; }
      @include respond-to(desktop-w-normal)  { font-size: 21px; line-height: 36px; padding: 32px 0 48px; }
      @include respond-to(desktop-w-xl)  { font-size: 24px; line-height: 36px; padding: 48px 0 56px; }
    }
    .work-spec { display: flex; flex-direction: column; position: relative; padding-top: 32px; font-size: 14px; line-height: 21px;
      @include respond-to(tablet-w) { line-height: 40px; padding-top: 48px; }
      @include respond-to(desktop-w-normal) { font-size: 18px; padding-top: 56px; }
      @include respond-to(tablet-w) { flex-direction: row; }
      #workType { position: relative; background: #FFEA01; width: 83px; padding:6px; color: #000; font-weight: 700;
          @include respond-to(tablet-w) { padding:0px 6px; }
          @include respond-to(desktop-w-normal) { width: 104px; }
      }
      .mdash { position: relative; display: none;
        @include respond-to(tablet-w) { display: block; padding: 0 8px; }
        @include respond-to(desktop-w-xl) { padding: 0 12px; }
      }
      #workSpec { padding-top: 8px;
        @include respond-to(tablet-w) { padding-top: 0px; }
      }
    }
  }
}
.template{background-image: url(https://images.alphacoders.com/484/484212.jpg)}
.ulverify {background-image: url(../img/ul-verify/header3.jpg);}
.chabad {background-image: url(../img/chabad/header2.jpg);}
.fedex {background-image: url(../img/fedex/header.jpg);}
.parkjockey {background-image: url(../img/parkjockey/header.jpg);}
.celebrity {background-image: url(../img/celebrity/header.jpg);}
.medical {background-image: url(../img/medicalSolutions/header.jpg);}
.tudor {background-image: url(../img/tudorIce/header.jpg);}
.ulCustomerPortal {background-image: url(../img/customerPortal/header2.jpg);}
