.btn-rounded {
  border-radius: 40px !important;
}

.btn-red {
  background: $red;
  color: $white;
  padding: .775rem 1rem;
  transition: .2s all linear;

  &:hover,
  &:focus {
    background: $red-hover;
    color: $white;
  }
}

.btn-border-gray {
  color: $gray-02;
  border: 4px solid $gray-02;
  border-radius: 30px !important;
  padding: .475rem 1rem;
  transition: .2s all linear;

  &:hover,
  &:focus {
    background: $gray-02;
    color: $white;
  }
}

.btn-border-red {
  color: $red;
  border: 4px solid $red;
  border-radius: 30px !important;
  padding: .475rem 1rem;
  transition: .2s all linear;

  &:hover,
  &:focus {
    background: $red;
    color: $white;
  }
}

.btn-down-arrow {
  width: 56px;
  height: 56px;
  line-height: 46px;
  border-radius: 28px;
  font-size: 26px;
  color: $white;
  border: 6px solid $white;
  text-align: center;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  transition: .2s all linear;

  &:hover,
  &:focus {
    background: $white;
    color: $gray-02;
  }
}
