@import "../../fontawesome/fontawesome.scss";
@import "../../fontawesome/light.scss";
@import "../../fontawesome/regular.scss";
@import "../../fontawesome/solid.scss";
@import "../../fontawesome/brands.scss";

@font-face {
  font-family: Replica-Bold;
  src: url(../webfonts/lineto-replica-bold.eot);
  src: url(../webfonts/lineto-replica-bold.eot?#iefix) format("embedded-opentype"),
       url(../webfonts/lineto-replica-bold.woff2) format("woff2"),
       url(../webfonts/lineto-replica-bold.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

.ff-replica {
  font-family: Replica-Bold;
}

.lh-1 {
  line-height: 1;
}

.fs-13 {
  @include font-size(13);
}

.fs-16 {
  @include font-size(16);
}
