.ideas,
.ideasPage {
    // height: calc(100vh - 400px);
   //  height: inherit;
    height: 100vh;
    padding-bottom: 50px;
   //  @media (min-width: 768px) {
   //    //   padding: 100px 0;
   //  }

   .container-fluid {
      padding-left: 60px;
      padding-right: 50px;
   }
}

.ideas_module {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: 500px) and (max-width: 767px) {
        max-width: 100%;
        float: left;
        width: 50%;
    }
    @media (min-width: 768px) {
        max-width: 100%;
        float: left;
        width: 25%;
    }

    img {
        width: 100%;
    }

    h3 {
        margin-bottom: 0;
    }

    small {
        display: block;
        margin: 0;
        color: #fff;
    }
}

.grid .grid-item {
   transform: translateY(50px);
}

.ideas_titles,
.ideas_category {

}

// IDEAS PAGE
.ideasPage {

   .header-message {
      @media (min-width: 500px) {
           margin-bottom: 25px;
           padding-top: 50px;
      }

      .underline {
           max-width: inherit;
           border-bottom-color: #cecece;
      }
   }

   p > a {
      display: inline-block;
      margin-right: 2rem;
      margin-bottom: 2rem;
   }

}

.ideasChild  {
   &--header {
      padding: 0;
      height: 60vh;
   }

   &--content .container {
      transform: translateY(0);
   }
}

.covers {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;

   &__top {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 0px;
      // height: 30vh;
      // background-color: rgba(140, 207, 233, 0.9);
   }

   &__bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0px;
      // height: 70vh;
      // background-color: rgba(255, 255, 255, 0.9);
   }
}
