@font-face {
  font-family: Replica-Bold;
  src: url(../fonts/lineto-replica-bold.eot);
  src: url(../fonts/lineto-replica-bold.eot?#iefix) format("embedded-opentype"), url(../fonts/lineto-replica-bold.woff2) format("woff2"), url(../fonts/lineto-replica-bold.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Replica-Bold-S;
  src: url(../fonts/fonts_subsetted/lineto-replica-bold.eot);
  src: url(../fonts/fonts_subsetted/lineto-replica-bold.eot?#iefix) format("embedded-opentype"), url(../fonts/fonts_subsetted/lineto-replica-bold.woff2) format("woff2"), url(../fonts/fonts_subsetted/lineto-replica-bold.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
